body {
    background-color: rgba(77, 95, 155, 0.658);
}

input {
    background-color: rgba(180, 201, 63, 0.9);
    border-radius: 25px;
}


li {
    list-style-type: none;
}

.todo-item {
    position: relative;
    padding-right: 0;
}

.delete-btn {
    display: none;
    color: red ;
    cursor: pointer;
    font-weight: bold;
    padding-left: 8px;
    background: transparent;
    border: none;
    font-size: 18px;
    position: static;
}

ul li.todo-item:hover .delete-btn {
    display: inline;
}

ul {
    padding: 0;
    margin: 0;
}

.backgroundBox {
      background-color: rgb(196, 187, 187);
    box-shadow: 0 5px 20px 0 rgba(29, 27, 27, 0.15);
    margin: 20px auto;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: inline-block;
    border-radius: 16px; 
    min-width: 250px; 
}

h1 {
  text-decoration: underline;

}